.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.footerContainer {
  composes: container;

  @media screen and (max-width: 1279px) {
    width: 100%;
  }
}
